.show-list-header {
    height: 150px;
}

.header-top {
    align-items: center;
}

.remove-like {
    color: #e50914;
    font-weight: bold;
}

.top-items {
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-icon {
    width: 30%;
}

.top-user {
    display: flex;
}

.user-like svg {
    height: 36px;
    color: #e50914;
}

.user-icon {
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    margin-left: 15px;
}

.top-search {
    display: flex;
    align-items: center;
}

.top-search input {
    font-size: 1.2rem;
    padding: 10px 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 25rem;
}

.top__search-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 42px;
    border: none;
    color: #fff;
    background-color: #e50914;
    width: 3rem;
}

.top__search-btn svg {
    height: 1.2rem;
}

.filter-group {
    width: 22%;
}

.filter-group form {
    display: flex;
    flex-direction: column;
}

.filter-group form select {
    font-size: 1.2rem;
    margin: 15px 0;
}

.filter-group form select option {
    font-size: 1rem;
}

.filter-btn {
    font-size: 1.2rem;
    padding: 7px 17px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #e50914;
}

.shows {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shows-hr {
    margin: 5px 0 35px 0;
}

.shows-heading {
    width: 100%;
    font-size: 2rem;
    display: flex;
}

.shows-heading div {
    margin-right: 10px;
}

.shows-heading a {
    color: white;
    text-decoration: none;
}

.shows__heading-shows:hover, .shows__heading-People:hover, button:hover, .user-like:hover {
    transform: scale(1.1);
}

.shows-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76%;
}

.shows-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shows__cards-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e50914;
    margin: 0 0 15px 0;
}

.shows__cards__card-info {
    background-color: rgba(23, 23, 23, 0.4);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shows__cards__card-name {
    width: 100%;
    padding-left: 15px;
    margin-top: 10px;
    max-width: 12rem;
}

.shows__cards__card-hr {
    margin: 10px;
    border: 1px solid #e50914;
}

.shows__cards__card-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
}

.shows__cards__card__btn-like svg, .shows__cards__card__btn-rating svg, .shows__cards__card__btn-rating span {
    font-size: 1.3rem;
    height: 1.3rem;
    color: #e50914;
}

.pagination-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.pagination a.active {
    background-color: #e50914;
    color: white;
    font-weight: bold;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: #e50914;
    font-weight: bold;
}

.shows__cards__card__btn-like button {
    background: none;
    border: none;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 550px) {
    .header-top {
        display: flex;
        align-items: flex-start;
    }

    .filter-group {
        width: 100%;
    }

    .top-user {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 33px;
        width: 100%;
    }

    .user-icon {
        width: 42px;
        height: 42px;
    }

    .user-like svg {
        height: 42px;
    }

    .shows-list-top-icon {
        position: relative;
        z-index: 2;
        width: 50%;
    }

    .top-items {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .top-search {
        margin: 1rem 0 1rem -10rem;
    }

    .top-search input {
        font-size: 2rem;
        padding: 14px;
        width: 18rem;
    }

    .top__search-btn {
        width: 5rem;
        height: 65.5px;
    }

    .top__search-btn svg {
        height: 2rem;
    }

    .filter-group {
        font-size: 2rem;
    }

    .filter-group form {
        margin: 15px 0;
    }

    .filter-group form select {
        width: 100%;
        font-size: 2rem;
    }

    .filter-group form select option {
        font-size: 0.8rem;
    }

    .filter-btn {
        font-size: 2.3rem;
        border-radius: 6px;
        padding: 20px 55px;
    }

    .shows {
        flex-direction: column;
    }

    .shows-list {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}

@media only screen
and (min-device-width: 550px)
and (max-device-width: 950px) {
    .show-list-header {
        height: 100px;
    }

    .show-list-main {
        padding: 0;
        margin-top: 5rem;
    }

    .shows__cards-card {
        margin: 15px 25px;
    }

    .header-top {
        display: flex;
        align-items: flex-start;
    }

    .top-user {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 33px;
        width: 100%;
    }

    .user-icon {
        width: 42px;
        height: 42px;
    }

    .user-like svg {
        height: 42px;
    }

    .shows-list-top-icon {
        position: relative;
        z-index: 2;
        width: 50%;
    }

    .top-items {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .top-search {
        margin: 0 0 1rem -9rem;
    }

    .top-search input {
        font-size: 1.5rem;
        padding: 14px;
        width: 20rem;
    }

    .top__search-btn {
        width: 5rem;
        height: 56.5px;
    }

    .top__search-btn svg {
        height: 2rem;
    }
}